.gradient-wrapper {
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
    background-color: #03a9f4;
    background: linear-gradient(90deg, #03a9f47f, #9f7be37f, #f441a57f, #64c1ea7f, #1de07c7f, #64c1ea7f, #f441a57f, #9f7be37f, #03a9f47f);
    background-size: 1000%;
    animation: animate 150s linear infinite;
}

.gradient-row {
    margin: 20px;
    margin-top: 72px;
}

.gradient-info {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.gradient-box {
    border-radius: 10px;
    margin: 5px;
    transition-duration: .25s;
    position: relative;
}

.delete-gradient {
    position: absolute;
    right: 5%;
    top: 5%;
}

.modify-gradient {
    position: relative;
    top: 70%;
    visibility: hidden;
}

.gradient-box:hover {
    border: 1px solid;
}

.gradient-box:hover .modify-gradient {
    visibility: visible;
}

.empty-gradient {
    color: white;
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.delete-all {
    margin: 10px;
}

.hexCodes {
    color: white;
    font-size: .88em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 100%;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 500%;
    }
}