.wrapper {
    position: fixed;
    margin: 10px;
    width: calc(100% - 20px);
    z-index: 100;
}

.navbar {
    background: rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition-duration: .25s;
}

.nav-links:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 15px #fff;
}

@media only screen and (max-width: 991px) {
    .nav-links {
        padding: 5px 10px;
    }
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

::-webkit-selection {
    background: black;
    color: white;
}