.modify-wrapper {
    min-height: 100vh;
}

.modify-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-controls {
    margin: 10px;
    margin-top: 0;
    background: #6c757d;
    border-radius: 5px;
    box-shadow: 0 5px 10px #333;
    max-width: 650px;
    display: flex;
}

.input-group.angle-range {
    min-width: 200px;
    flex-wrap: nowrap;
}

.angle-range .form-control-range {
    margin-left: 15px;
}

.input-controls .input-group-text {
    background: #343a40;
    color: white;
    border: none;
}

.input-controls .form-control {
    background: #6c757d;
    border: none;
    color: white;
}

.angle-range-numeric {
    min-width: 70px !important;
    text-align: center;
    padding-right: 6px !important;
}

.input-controls .input-group-prepend {
    margin: 0;
}

@media (max-width: 950px) {
    .modify-controls {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .input-controls .input-group:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    .input-controls {
        flex-wrap: wrap;
        max-width: 382px;
    }
    .input-controls .input-group-text {
        width: 148px;
        justify-content: center;
    }
    .input-controls .input-group-text {
        border-radius: 0;
    }
    .input-controls #modify-color1 {
        border-top-left-radius: 0.25rem;
    }
    .input-controls #modify-angle {
        border-bottom-left-radius: 0.25rem;
    }
}
